-#  Copyright (c) 2012-2016, Dachverband Schweizer Jugendparlamente. This file is part of
-#  hitobito_dsj and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_dsj.

= render_attrs(entry, *entry.used_attributes(:founding_year, :language, :area, :legal_form, :budget,
  :financial_backer, :members_age, :political_competences, :supervision, :state, :member,
  :joining_year, :visited_events))
