= fields.labeled_collection_select(:correspondence_language,
                              Settings.application.correspondence_languages.to_hash,
                              :first,
                              :last,
                              { prompt: true },
                              class: 'span6')
